{% extends "survey/Base.html" %}
{% load otree static %}

{% block title %}
Experiment
{% endblock %}

{% block content %}

<div class="form-style-10">
    <h1>Hello and welcome to our study!</h1>

    First and foremost, we would like to thank you for taking part, your support for our study is greatly
    appreciated.<br><br>

    On the following pages, you will be confronted with short scenarios that you may have already experienced in your
    day-to-day work as a manager. We ask you to answer the following questions as intuitively and honestly as possible,
    even
    if the scenarios may seem hypothetical.<br><br>

    Please answer the questions from your standpoint as a manager, taking your own work experience into
    consideration.<br><br>

    In some of the following scenarios, team leaders use so-called <b>people analytics systems</b>. These are algorithm-driven systems which
    constantly
    collect data on employee behaviour at the workplace: For instance, the number of emails sent and phone calls made,
    the
    number and length of (online) meetings and whether emails are still being sent and phone calls made after working
    hours.
    Employees can be surveyed by the people analytics systems at regular intervals about their satisfaction at
    work.<br><br>

    The people analytics system processes this data to provide managers with aggregated reports to support
    decision-making.


    Once again, thank you very much for your support!<br><br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button" id="nextButton">Let's go
    </button>
</div>

{% endblock %}