{% extends "survey/Base.html" %}
{% load otree static %}

{% block title %}
Experiment
{% endblock %}

{% block content %}

<div class="form-style-10">
    <h1>Hello and welcome to our study!</h1>

    First and foremost, we would like to thank you for taking part, your support for our study is greatly
    appreciated.<br><br>

    On the following pages, you will be confronted with short scenarios that you may have already experienced in your
    day-to-day work as a manager. We ask you to answer the following questions as intuitively and honestly as possible, even
    if the scenarios may seem hypothetical.<br><br>

    Please answer the questions from your standpoint as a manager, taking your own work experience into consideration.<br><br>

    The following scenarios include so-called <b>people analytics systems</b>. These are algorithm-driven systems that continuously
    collect and analyse data on productivity or the behaviour of employees in the workplace. The systems’ analyses and
    recommendations are made available to managers.

    Once again, thank you very much for your support!<br><br>


    <p><input type="checkbox" onchange="document.getElementById('nextButton').disabled = !this.checked;" /> I have read
        and understood the conditions described above. I agree with the conditions mentioned and would like to
        participate in the survey.
    </p>


    <button disabled class="otree-btn-next btn btn-primary next-button otree-next-button" id="nextButton">Let's go
    </button>
</div>

{% endblock %}