{% extends "survey/Base.html" %}
{% load otree static %}

{% block title %}
Experiment
{% endblock %}

{% block content %}
<style type="text/css">
    .otree-body {
        max-width:1000px !important;
    }
</style>

<div class="jumbotron">
    <h3>Teil 2: Befragung</h3>

<!-- <div class="instructions" style="text-align:center">
    <b>Bitte beantworten Sie jetzt noch die folgenden Fragen</b>
</div> -->
</div>

<div style="margin-top: 2rem;">
<b>Wie hoch ist Ihrer Meinung nach das Risiko für Beschäftigte, dass…</b>
</div>
<table class="table">
    <tr>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">sehr gering</th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px">sehr hoch</th>
    </tr>
    <tr style>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">---</th>
        <th width="9%" style="padding: 5px">--</th>
        <th width="9%" style="padding: 5px">-</th>
        <th width="9%" style="padding: 5px">0</th>
        <th width="9%" style="padding: 5px">+</th>
        <th width="9%" style="padding: 5px">++</th>
        <th width="9%" style="padding: 5px">+++</th>
    </tr>
    {% for field in form %}
    <tr>
        <td class="left"><p>{{ field.label }}</p></td>
        {% for choice in field %}
        <td><p>{{ choice }}</p></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class="NextButtonDiv">
    {% next_button %}
</div>
{% endblock %}
