{% extends "survey/Base.html" %}
{% load otree static %}

{% block title %}
Experiment
{% endblock %}

{% block content %}
<style type="text/css">
    .otree-body {
        max-width: 1000px !important;
    }
</style>

<div class="jumbotron">
    <h3>Scenario 3</h3>

    <div class="instructions" style="text-align:left">
        <b>Please carefully read through the following scenario and then answer the questions below.</b>
    </div>
</div>

<div>
    <p>Leaders often make decisions.</p><br>
    {% if player.treatment_pa == '2_and_3' %}
    <p>Imagine a situation where two leaders <b>use</b> a <b>people analytics system</b> at their workplace. Independent of
        each
        other, they have to take an important decision. They both choose initially one of two possible solutions.</p>
    {% else %}
    <p>Imagine a situation where two leaders both have <b>no people analytics system</b> at their workplace. Independent of each other, they have to take an important decision. They both
        choose initially one of two possible solutions.</p>
    {% endif %}
    <br>
    <p>After further considerations, <b>leader&nbsp;A</b> chooses to hold onto the original decision, while
        <b>leader&nbsp;B</b> changes their mind and
        chooses the other option.
    </p><br>
</div>

<div class="dialog">
    <div>
        <p class="bubble speech">I choose to hold onto
            the original decision.</p>
        <img src="{{ static 'survey/img/lead_a.jpg' }}" alt="avatar" class="d-flex align-self-center me-3" width="60">
    </div>
    <div>
        <p class="bubble speech right">I changed my mind and choose the other option.</p>
        <img src="{{ static 'survey/img/lead_b.jpg' }}" alt="avatar" class="d-flex align-self-center me-3 avatar-right"
            width="60">
    </div>
</div>


<table class="table">
    <tr>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">not risky at all</th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px">very risky</th>
    </tr>
    <tr style>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">---</th>
        <th width="9%" style="padding: 5px">--</th>
        <th width="9%" style="padding: 5px">-</th>
        <th width="9%" style="padding: 5px">0</th>
        <th width="9%" style="padding: 5px">+</th>
        <th width="9%" style="padding: 5px">++</th>
        <th width="9%" style="padding: 5px">+++</th>
    </tr>
    {% for field in form %}
    <tr>
        <td class="left">
            <p>{{ field.label }}</p>
        </td>
        {% for choice in field %}
        <td>
            <p>{{ choice }}</p>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class="NextButtonDiv">
    {% next_button %}
</div>
{% endblock %}