{% extends "survey/Base.html" %}
{% load otree static %}

{% block title %}
Experiment
{% endblock %}

{% block content %}
<style type="text/css">
    .otree-body {
        max-width: 1000px !important;
    }
</style>

<div class="jumbotron">
    <h3>Scenario 2</h3>

    <div class="instructions" style="text-align:left">
        <b>Please carefully read through the following scenario and then answer the questions below.</b>
    </div>
</div>

<div>
    {% if player.treatment_pa == '2_and_3' %}
    <p>Imagine two leaders, leader A and leader B, who both <b>use a people analytics system</b> at their workplace.</p>
    {% else %}
    <p>Imagine two leaders, leader A and leader B. A <b>people analytics system</b> is <b>not available</b> at their workplace.</p>
    {% endif %}
    <br>
    <p>They both experience a big problem. Both of them present the problem to their leader groups. The problem is
    discussed and the two groups decide upon an advice for how their leader can solve the problem.</p><br> 
    <p><b>Leader&nbsp;A</b> chooses to follow the advice of their leader group, while <b>leader&nbsp;B</b> chooses not to follow the advice and to find
    their own solution.</p><br>
</div>

<div class="dialog">
    <div>
        <p class="bubble speech">I choose to follow the advice of our leader group.</p>
        <img src="{{ static 'survey/img/lead_a.jpg' }}" alt="avatar" class="d-flex align-self-center me-3" width="60">
    </div>
    <div>
        <p class="bubble speech right">I choose not to follow the advice and to find
        my own solution.</p>
        <img src="{{ static 'survey/img/lead_b.jpg' }}" alt="avatar" class="d-flex align-self-center me-3 avatar-right"
            width="60">
    </div>
</div>


<table class="table">
    <tr>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">not risky at all</th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px">very risky</th>
    </tr>
    <tr style>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">---</th>
        <th width="9%" style="padding: 5px">--</th>
        <th width="9%" style="padding: 5px">-</th>
        <th width="9%" style="padding: 5px">0</th>
        <th width="9%" style="padding: 5px">+</th>
        <th width="9%" style="padding: 5px">++</th>
        <th width="9%" style="padding: 5px">+++</th>
    </tr>
    {% for field in form %}
    <tr>
        <td class="left">
            <p>{{ field.label }}</p>
        </td>
        {% for choice in field %}
        <td>
            <p>{{ choice }}</p>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class="NextButtonDiv">
    {% next_button %}
</div>
{% endblock %}