{% extends "survey/Base.html" %}
{% load otree static %}

{% block title %}
Experiment
{% endblock %}

{% block content %}
<style type="text/css">
    .otree-body {
        max-width: 1000px !important;
    }
</style>

<div class="jumbotron">
    <h3>Scenario 4</h3>

    <div class="instructions" style="text-align:left">
        <b>Please carefully read through the following scenario and then answer the questions below.</b>
    </div>
</div>

<div>
    <p>Imagine a situation where two leaders, independent of each other, are starting to suspect that there is a problem
        among
        their employees.</p><br>
    {% if player.treatment_pa == '1_and_4' %}
    <p>They both <b>use</b> a <b>people analytics system</b> at their workplace.</p>
    {% else %}
    <p>A <b>people analytics system</b> is <b>not available</b> at their workplace.</p>
    {% endif %}<br>
    <p>They have a choice between two possible ways of handling the situation. They can either take action and confront
        their
        employees with the issue and actively try to solve the problem, at the risk of creating a lot of trouble and
        unpleasant
        attention to a problem that might really just been minor. Or they can wait and see how it all develops, at the
        risk of
        the problem growing large and difficult to handle later on.</p><br>
    <p><b>Leader&nbsp;B</b> chooses to actively solve the problem, while <b>leader&nbsp;A</b> awaits to see if it blows
        over by itself.</p><br>
</div>

<div class="dialog">
    <div>
        <p class="bubble speech">I choose to actively solve the problem.</p>
        <img src="{{ static 'survey/img/lead_b.jpg' }}" alt="avatar" class="d-flex align-self-center me-3" width="60">
    </div>
    <div>
        <p class="bubble speech right">I choose to wait and see if it blows over by itself.</p>
        <img src="{{ static 'survey/img/lead_a.jpg' }}" alt="avatar" class="d-flex align-self-center me-3 avatar-right"
            width="60">
    </div>
</div>

<hr>


<table class="table">
    <tr>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">not risky at all</th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px"></th>
        <th width="9%" style="padding: 5px">very risky</th>
    </tr>
    <tr style>
        <th class="left"></th>
        <th width="9%" style="padding: 5px">---</th>
        <th width="9%" style="padding: 5px">--</th>
        <th width="9%" style="padding: 5px">-</th>
        <th width="9%" style="padding: 5px">0</th>
        <th width="9%" style="padding: 5px">+</th>
        <th width="9%" style="padding: 5px">++</th>
        <th width="9%" style="padding: 5px">+++</th>
    </tr>
    {% for field in form %}
    <tr>
        <td class="left">
            <p>{{ field.label }}</p>
        </td>
        {% for choice in field %}
        <td>
            <p>{{ choice }}</p>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class="NextButtonDiv">
    {% next_button %}
</div>
{% endblock %}